@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #1A0B2E;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
}

.desktop-nav,
.desktop-subscribe {
    display: none;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero-title {
    font-size: 2.8rem;

}

.stat-item {
    text-align: center;
}

.choose-section {
    background-color: #230E3D;
    color: #ffffff;
}

.card {
    background-color: #351165;
    padding: 35px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.icon img {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.host-card {
    transition: transform 0.3s ease;
}
.host-card:hover {
    transform: translateY(-5px);
}

@media (min-width: 992px) {
    .desktop-nav {
        display: flex !important;
    }

    .desktop-subscribe {
        display: block !important;
    }

    .mobile-menu-btn {
        display: none !important;
    }

    .hero-title {
        font-size: 5.5rem;
    }

    .nav-container {
        border-bottom: 1px solid rgba(65, 37, 103, 1);
    }

    .stats-container {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
    }

    .choose-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 30px;
        grid-template-areas:
            "premium mobile  mobile"
            "premium global  global"
            "exclusive exclusive resources";
    }

    .premium {
        grid-area: premium;
    }

    .mobile,
    .global {
        grid-area: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .mobile {
        grid-area: mobile;
    }

    .global {
        grid-area: global;
    }

    .exclusive {
        grid-area: exclusive;
    }

    .resources {
        grid-area: resources;
    }
    .episodes-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

}

@media (min-width: 576px) and (max-width: 991px) {
    .choose-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .exclusive,
    .mobile,
    .global,
    .resources,
    .premium {
        grid-column: span 2;
    }

    .episodes-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}


@media (max-width: 575px) {
    .choose-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .episodes-grid {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    
    .host-card {
        padding: 40px 20px;
    }
}

@media (min-width: 576px) {
    .hero-title {
        font-size: 2.8rem;
    }
}

@media (max-width: 992px) {
    .stats-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 1rem;
    }
}



@keyframes slowRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

@keyframes micGlow {

    0%,
    100% {
        filter: drop-shadow(0 0 15px rgba(17, 0, 165, 0.425)) brightness(1);
    }

    50% {
        filter: drop-shadow(0 0 35px rgba(42, 58, 234, 0.9)) brightness(1.2);
    }
}

.animate-rotate-bg {
    animation: slowRotate 8s linear infinite;
}

.animate-floating-mic {
    animation: float 4s ease-in-out infinite, micGlow 4s ease-in-out infinite;
}